/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CustomerId]
      ,[CustomerTitleId]
      ,[CustomerFirstName]
      ,[CustomerOtherInitials]
      ,[CustomerLastName]
      ,[AddressId]
      ,[AccountNumber]
      ,[AccountTypeId]
      ,[ClearedBalance]
      ,[UnclearedBalance]
      ,[DateAddedd]
  FROM [ApressFinancial].[CustomerDetails].[Customers]
